---
import ProjectSection from "@/components/ProjectSection"
import PostsSection from "@/components/PostsSection"
import Timeline from "@/components/Timeline"
import Avatar from "@/components/Avatar"
import Layout from "@/layouts/Layout.astro"
import { HiOutlineArrowDownCircle as DownIcon } from "react-icons/hi2"
import "@/styles/globals.css"
import "public/logo.png"
import "public/wordcloud.png"
import "public/wordresumeskill.png"
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme")
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light"
  }
  const isDark = getThemePreference() === "dark"
  document.documentElement.classList[isDark ? "add" : "remove"]("dark")

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark")
      localStorage.setItem("theme", isDark ? "dark" : "light")
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    })
  }
</script>

<Layout>
  <main class="p-4 text-slate-700 dark:text-slate-400">
    <section class="flex flex-col w-full h-screen justify-center items-center">
      <p
        class="max-w-56 text-center"
      >
      <img src="logo.png" alt="AER logo">
        Hello, I'm <strong>Ashley</strong>, a fullstack developer from
        Boston
      </p>
     
      <DownIcon className="text-2xl animate-bounce mt-10" />
    </section>
    <section class="flex flex-col w-full justify-center items-center gap-28">
      <h2 class="font-bold">Projects</h2>
      <ProjectSection client:load />
    </section>
    <section class="flex flex-col w-full justify-center items-center gap-28 mt-56">
      <h2 class="font-bold">Experiences</h2>
      <Timeline />
    </section>
    <section class="flex flex-col w-full justify-center items-center gap-28 mt-56">
      <h2 class="font-bold">Education</h2>
      <PostsSection client:load />
    </section>
    <section class="flex flex-col w-full justify-center items-center gap-28 mt-56"> <section class="flex flex-col w-full justify-center items-center gap-28 mt-56">
      <h2 class="font-bold"</h2>
      <PostsSection client:load />
    </section>
      <h2 class="font-bold">About Ashley</h2>
      <div class="flex flex-col items-center gap-4 max-w-[500px]">
        <Avatar src="/linkedin.png" alt="Ashley Romano" client:load/>
        <p class="text-center">My name is <strong>Ashley Romano</strong>, I left the Publishing world in 2021 to start programming professionally. Since then,  I’ve contributed to some of the most forward-thinking organizations in the technology sector. In previous roles, I focused on developing scalable web applications, optimizing user experiences, and driving innovation in cloud computing. My work has also involved designing and implementing distributed systems, leading teams to create cloud-based solutions, and ensuring optimal performance and security for high-impact projects in the Insurance, Legal, Eduction and Fintech sectors.</p>
          <p>I am deeply committed to staying at the forefront of the tech industry. I actively engage in professional development through participation in conferences, contributions to open-source projects, and ongoing learning. These experiences have refined my technical expertise and enhanced my leadership, collaboration, and strategic problem-solving skills.</p>
        <p class="text-center">I am passionate about technology, learning new things, sharing knowledge, and mentoring women in technology.</p>
      </div>
    </section>
  </main>
  <footer>
    <p class="text-center text-sm text-slate-700 dark:text-slate-400 p-4 mt-28">
      <img src="wordresumeskill.png" alt="word cloud">

      Made with &#x2665; by Ashley Romano |  <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=ashleye.romano@gmail.com&tf=1
      ">ashleye.romano@gmail.com</a>
    </p>
  </footer>
</Layout>
